<!--<GridLayout columns="*" rows="auto, *" width="310" height="410" backgroundColor="gray">
    <Label test="google map test" row="0" col="0"></Label>
    <maps:mapView row="1" latitude="-33.86" longitude="151.20" zoom="8" bearing="0" tilt="0" padding="[40, 40, 40, 40]" mapReady="OnMapReady"  markerSelect="onMarkerSelect" cameraChanged="onCameraChanged"></maps:mapView>
<Label test="google map test" row="1"  col="0"></Label>
 </GridLayout>-->
<GridLayout columns="*" rows="50, *" width="310" height="410" backgroundColor="lightgray" >
            <Label text="Label 1" row="0" col="0" backgroundColor="red"></Label>
            <MapView row="1" colSpan="2" col="0" latitude="-33.86" longitude="151.20" zoom="8" bearing="0" tilt="0" padding="[40, 40, 40, 40]" mapReady="OnMapReady"  markerSelect="onMarkerSelect" cameraChanged="onCameraChanged"></MapView>
</GridLayout>